@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&display=swap');

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
}

h1 {
    text-align: center;
    font-family: Lora;
    font-size: 3.5rem;
    border-bottom: 2px solid #d0d0d0;
    padding-bottom: 2rem;
    margin-bottom: 0;
}

h1 a {
    text-decoration: none;
    color: #000;
}

nav ul {
    padding: 0;
    border-bottom: 2px solid #d0d0d0;
    padding-bottom: .8rem;
}

nav li {
    list-style: none;
    text-align: center;
}

nav li a {
    font-style: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #666;
    padding: .5rem 0;
    font-family: Lora;
    font-weight: 500;
}

nav li:nth-child(2) {
    margin: 1rem 0;
}


.post-date {
    text-align: right;
    border-bottom: 2px solid #d0d0d0;
    padding: 2rem 1rem 1rem 0;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    font-size: 1.5rem;
    font-family: Lora;
}

.post-content h2 {
    margin: 1rem;
}

.post-content h2 a {
    color: #000;
    text-decoration: none;
    color: #666;
    font-weight: 500;
    font-family: Lora;
}

.post-content figure {
    margin: 0;
    text-align: center;
}

@media only screen and (min-width:32.5rem){
    body {
        margin: 1rem;
    }
    nav ul {
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 1.5rem;
        margin: 0;
        padding: 0.5rem 0.5rem;
    }

    nav li:nth-child(2) {
        margin: 0;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-top: 1rem;
    }

    .post-date {
        grid-column: 1 / 2;
        border-bottom: 0;
        text-align: center;
        padding-top: 1rem;
        border-right: 2px solid #d0d0d0;
    }

    .post-content {
        grid-column: 2 / 3;
    }

    .post-content p {
        padding: 1rem;
    }

    article:nth-child(2) {
        margin-top: 0;
    }

    article:nth-child(2) h2 {
        margin-top: 2rem;
    }

    article:nth-child(2) .post-date {
        padding-top: 2.2rem;
    }

    article:nth-child(2) .post-content {
        border-top: 2px #d0d0d0 dashed;
    }
}