@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');

$base-font: 'roboto condensed';
$lgray: #f4f6f8;
$lgray2: #e2e2e2;
$dgray: #686666;
$black: #000;
$green: #4ddf4d;
$bone: #ebe2e2;
$white: #ffffff;