@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap');

$base-font: 'roboto';
$lgray: #dad4d4;
$dgray: #524d4d;
$black: #000;
$green: #54b154;
$bone: #ebe2e2;
$white: #ffffff;